.contenedor_imagen_fondo {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.ctfassets.net/8lc7xdlkm4kt/PXZEiwmwLUKVStaUqaKlf/2c5f62ded60be34c13e5f2f4546bda48/1.Life72-Apto-53-m2.jpg?w=1366&q=60');
    padding: 0px;
    background-size: cover;
}

input::placeholder {
    color: #d4005094;
}