/*---resgitro y login---*/

* {
    margin: 0px;
    box-sizing: border-box;
}

.contenedor_formulario {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}

form.formulario {
    padding: 20px;
}

.texto_ingreso {
    font-size: 16px;
    margin-bottom: 4px;
    color: #5f737d;
}

.boton_de_ingreso {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 100%;
    background-color: #d40050;
    font-size: 22px;
    color: #fff;
    transition: transform .2s;
}

.boton_de_ingreso:hover {
    background-color: #d4005057;
    color: #fff;
    transform: scale(0.9);
}

.base_boton {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.logo_vivienda {
    width: 239px;
}

.contenedor_logo {
    width: 100%;
    display: table;
    text-align: center;
}

input.form-control {
    border: 1px solid #d400503b;
}

input::placeholder {
    color: blue;
}

.base_informacion {
    width: 100%;
    display: table;
}

.actualizar_registro:hover {
    background-color: #d40050;
    color: #fff !important;
}